---
import { GithubIcon, MailIcon, LinkedinIcon } from "astro-feather";
import * as constants from "../consts";

const today = new Date();
---

<footer>
  &copy; {today.getFullYear()} Your name here. All rights reserved.
  <div class="social-links">
    <a href={constants.MY_GITHUB} target="_blank">
      <span class="sr-only">Peruse my Github repository</span>
      <GithubIcon />
    </a>
    <a href={constants.MY_LINKEDIN} target="_blank">
      <span class="sr-only">Check out my LinkedIn profile</span>
      <LinkedinIcon />
    </a>
    <a href={"mailto:" + constants.MY_EMAIL} target="_blank">
      <span class="sr-only">Send me an email</span>
      <MailIcon />
    </a>
  </div>
</footer>
<style>
  footer {
    padding: 2em 1em 6em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }
</style>
